html,
body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.page-title{
    color: gold;
    padding: 10px;
    text-align: center;
    background-color: navy;
    width: auto;
    height:auto;
    margin-bottom: 50px;
    border-bottom: 3px solid black;
}

.main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
#form-section{
    width: 200px;
}
.games{
    width: 50%;
}
.info{
    padding-bottom: 50px;
    display: grid;
    margin: 10px;
}
label{
    font-weight: bold;
    margin: 5px 0px;
}
input{
    padding: 0px;
    margin: 0px;
    width: 300px;
}

select{
    margin-top: 10px;
}
#stock{
    width: 150px;
    margin-bottom: 10px;
}

li{
    list-style-type: none;
}
img{
    display: block;
    height: 300px;
    width: 500px;
}
h3,
h4{
    border-bottom: 1px solid gray;
    font-size: 22px;
}
#title-output{
    margin-top: 17px;
    margin-bottom: 10pxpx;
}

#developer-output{
    font-style: italic;
    margin-bottom: 10px;
}

#price-output{
    margin-bottom: 10px;
}

button{
    display: block;
    margin: 10px 0px
}
.in-stock{
    color: green;
    font-weight: bold;
}

.out-of-stock{
     color: red;
     font-weight: bold;
}

#remove{
    background-color: red;
    color: white;
}
@media (max-width:720px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
    }
}